.explorer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding-top: 50px;
}

.card-container {
  border: 5px solid red;
  margin: 15px;
  text-align: center;
}

.explorer-container img {
  width: 150px;
}

/*
button {
  margin: 50px;
  width: 200px;
} */
