.form-container {
  animation: opacitySign 1s 1 forwards;
  background-color: white;
  border-radius: 6px;
  color: #262626;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 640px;
  justify-content: flex-start;
  margin: 5% auto 0;
  max-width: 400px;
  overflow: hidden;
  padding: 30px;
  position: relative;
  width: 360px;
}

.form-background {
  background-image: url('./loginbackground.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 77vw;
  margin: -30px;
  max-height: 253px;
  width: calc(100% + 60px);
}

/* @media screen and ( max-width : 800px ) {

   .form-container {
    width: 75%;
  }
} */

@keyframes opacitySign {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.form-container input {
  background-color: white;
  border: none;
  border-bottom: 1px solid #262626;
  box-shadow: 0 0 0 0;
  font-style: italic;
  margin-top: 50px;
  padding: 2%;
}

.form-container input:focus {
  box-shadow: 0 0 0 30px transparent;
  outline: 0;
}

.form-container label {
  animation: labelSpace 0.9s 1 forwards;
  font-weight: 700;
  position: relative;
  top: 15%;
  transition: top 0.7s;
}

@keyframes labelSpace {

  from {
    top: 15%;
  }

  to {
    top: 9%;
  }
}

.submit-btn {
  align-self: center;
  background-color: white;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 30px;
  padding: 2%;
  width: 30%;
}

.submit-btn:hover {
  background-color: #262626;
  color: white;
}
