.card {
  border-radius: 4px;
  color: #390438;
  font-weight: 700;
  margin: 5% auto;
  overflow: hidden;
  text-decoration: none;
  width: 150px;
}

.card-title {
  margin-left: 5px;
}

.thumbnail {
  max-width: 150px;
}
