.card {
  border-radius: 10px;
  color: #181919;
  display: flex;
  font-weight: 700;
  height: 150px;
  margin: 15px auto;
  overflow: hidden;
  text-decoration: none;
  width: 350px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  align-items: flex-start;
  width: 100%;
}

.thumbnail {
  border-radius: 10px;
  max-width: 150px;
}

.recipe-icon {
  background-color: #FDB155;
  border-radius: 50%;
  bottom: 2px;
  padding: 2px;
  position: relative;
}
