.categories {
  background-color: #181919;
  box-shadow: 0 1px 1px #181919 , 0 2px 8px 0 #181919;
  display: flex;
  justify-content: space-around;
  padding: 2px;
  width: 100%;
}

.categoryBtn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  margin: 1px 4px;
  outline: 0 auto;
  padding: 5px;
  width: 100px;
}

@media screen and ( max-width : 385px ) {

  .categoryBtn {
    font-size: 0.6em;
  }

}

.categoryBtn:hover {
  color: #fdb155;
}
