.recipe-btn {
  background-color: #0fa36b;
  border: none;
  border-radius: 2px;
  bottom: 0;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  height: 50px;
  position: fixed;
  right: 0;
  width: 100%;
}

.recipe-btn:hover {
  background-color: green;
}

.cont-btn {
  background-color: #0fa36b;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  height: 50px;
  margin-top: 8px;
  width: 99%;
}

.done-recipe {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}
