.profile {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% auto;
  max-width: 400px;
  min-height: 600px;
  width: 90%;
}

.profile-btn {
  background-color: white;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  margin: 3%;
  padding: 2%;
  width: 50%;
}
