.personal-icon {
  width: 50px;
}

.header-container {
  align-items: center;
  background-color: #FDB155;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 400px;
  position: relative;
  top: 0px;
}

.header-title {
  font-family: Roboto Condensed, sans-serif;
  font-size: 35px;
  margin: 0;
  padding: 0;
}
