.header-icon {
  width: 30px;
}

.header-container {
  align-items: center;
  background-color: #fdb155;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

.header-title {
  font-family: Roboto Condensed , Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
}
