.footer-container {
  align-items: center;
  background-color: #fdb155;
  display: flex;
  height: 58px;
  justify-content: space-between;
}

.footer {
  bottom: 0;
  margin: auto;
  position: fixed;
  width: 100%;
}

.icon-footer { margin: 25px; }
