.in-progress-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.in-progress-content {
  border: 1px solid black;
  max-width: 360px;
  padding: 10px;
  width: 95%;
}

.instructions-container {
  text-align: justify;
}

.end-recipe-btn {
  background-color: #CB5916;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  height: 50px;
  width: 100%;
}
